.Admin select {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    margin: 10px 0;
    display: block;
    box-sizing: border-box;
    text-transform: capitalize;
}
.Admin input {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    margin: 10px 0;
    display: block;
    width: 350px;
    box-sizing: border-box;
}
.Admin textarea {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    margin: 10px 0;
    display: block;
    width: 350px;
    height: 100px;
    box-sizing: border-box;
}
.add {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
}
.Admin button {
    background-color: #ccc;
    border: none;
    color: black;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
}