.Toolbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}
.Toolbar ul {
    list-style: none;
    margin: 0;
}
.Toolbar li {
    display: inline-block;
    padding: 5px;
    margin-right: 20px;
    text-decoration: none;
    text-transform: capitalize;
}
.Logo {
    padding: 5px 10px 10px 30px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
.Logo:hover {
    cursor: pointer;
}
.link {
    text-decoration: none;
}